<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<!-- Gun g1 = new Gun(); -->
	<bean id="g1" class="spring_app06_maven.Gun"></bean>
	
	<!-- s1 = new StunGun(); -->
	<bean id="s1" class="spring_app06_maven.StunGun"></bean>
	
	<!-- Police p1 = new Police(g1, 120); -->
	<bean id="p1" class="spring_app06_maven.Police">		
		<!-- index는 0부터 시작 -->
<!-- 		<constructor-arg index="0" ref="s1"></constructor-arg>
		<constructor-arg index="1" value="120"></constructor-arg> -->
		
		<!-- setter/getter 는 property를 이용 -->
		<property name="hp" value="150"></property>
		<property name="w" ref="g1"></property>
		
	</bean>
	
	<bean id="sniper" class="spring_app06_maven.Sniper">
		<constructor-arg index="0" ref="g1"></constructor-arg>
     	<constructor-arg index="1" value="90"></constructor-arg>

	
</bean>	
	
</beans>

